<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- Head fragment -->

<head th:replace="~{fragments/head :: head('Lista pizze')}">


<body>

    <!-- Navbar fragment -->
    <section th:insert="~{fragments/navbar :: navbar}"></section>

    <!-- Main page -->
    <main class="container">

        <section class="d-flex justify-content-between">
            <form th:action="@{/pizze}" class="d-flex mt-2 mb-2" role="search">
                <input class="form-control me-2" type="search" name="keyword" placeholder="Cerca" aria-label="Cerca" />
                <button class="btn btn-success" type="submit">Cerca</button>
            </form>

            <a th:href="@{pizze/create}" class="btn btn-primary  mt-2 mb-2">Aggiungi una nuova pizza</a>

        </section>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <th>Prezzo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizza : ${pizze}" th:object="${pizza}">
                    <td>[[*{id}]]</td>
                    <td>[[*{nome}]]</td>
                    <td>[[*{descrizione}]]</td>
                    <td>[[*{prezzo}]]€</td>
                    <td class="justify-content-center">
                        <a th:href="@{pizze/{id}/offerta(id=*{id})}" class="btn btn-outline-success mx-1">Crea offerta</a>
                        <a th:href="@{pizze/{id}(id=*{id})}" class="btn btn-primary mx-1">Show</a>
                        <a th:href="@{pizze/edit/{id}(id=*{id})}" class="btn btn-success mx-1">Edit</a>
                       <!-- Modal button   -->
                        <button type="button" class="btn btn-warning mx-1" data-bs-toggle="modal"
                            th:data-bs-target="'#delete-modal-' + *{id}">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" th:id="'delete-modal-' + *{id}" tabindex="-1" data-bs-backdrop="static"
                            data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Conferma eliminazione Pizza
                                            [[*{nome}]]</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Vuoi eliminare la pizza: [[*{nome}]] con id: [[*{id}]]?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Chiudi</button>

                                        <form th:action="@{pizze/delete/{id}(id=${pizza.id})}" method="POST">
                                            <button type="submit" class="btn btn-danger">Conferma</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>


                </tr>

            </tbody>
        </table>



    </main>

    <!-- Script fragment -->
    <section th:insert="~{fragments/script :: script}"></section>

</body>

</html>